<!DOCTYPE html>
<!-- {{ roomsForm.pristine | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.value | json }} -->

<div *ngif="sucessmessage !== ''" class="alert alert-success">
    {{sucessmessage}}
</div>

<form #roomsform="ngForm" (ngfubmit)="AddRoom(roomsform)">
    <div class="form-group">
        <input required class="form-control" type="text" name="roomType"
            [(ngModel)]="room.roomType"
            placeholder="Room Type"
            [ngModelOptions]="{updateOn: 'blur'}">
    </div>

    <div class="form-group">
        <input #roomamanaties="ngModel" required minlength="5" maxlength="20"
            class="form-control" type="text" name="amenities"
            [(ngModel)]="room.amenities"
            placeholder="Amenities"/>
        <div class="alert-danger" *ngif="roomamanaties.errors?.['minlength']">
            Amenities should be min 5 chars!
        </div>
        <div **ngif="roomamanaties.errors?.['required']">
            Please provide the amenities!
            {{roomamanaties.errors | json}}
        </div>
    </div>

    <div class="form-group">
        <input required class="form-control" type="number" name="price"
            [(ngModel)]="room.price"
            placeholder="
            Room Price Per Nigth"/>
    </div>

    <div class="form-group">
        <input required class="form-control" type="text" name="photos"
            [(ngModel)]="room.photos"
            placeholder="Photos (proide link)"/>
    </div>

    <div class="form-group">
        <input required class="form-control" type="datetime" name="checkinTime"
            [(ngModel)]="room.checkinTime"
            placeholder="Check-in Time"/>
    </div>

    <div class="form-group">
        <input required class="form-control" type="datetime" name="checkoutTime"
            [(ngModel)]="room.checkoutTime"
            placeholder="Check-out time"/>
    </div>

    <div class="form-group">
        <input min="1" max="5" required class="form-control" type="number"
            name="rating"
            [(ngModel)]="room.rating"
            placeholder="Rating"/>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>