<!DOCTYPE html>
<!-- <h1>Hello world!</h1> -->
<!-- <hinv-rooms> </hinv-rooms> -->

<!--<hinv-employee></hinv-employee>-->
<!-- <hinv-container>
    <hinv-rooms>-</hinv-rooms>
    <hinv-employee></hinv-employee>
    <h1>this is from ng-content</h1>
</hinv-container> -->
<!-- <div #name>
</div> -->

<!--<div> 
    <ng-template #user></ng-template>
</div>-->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->

<hinv-app-nav></hinv-app-nav>

<!-- <router-outlet></router-outlet> -->
